.wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;

    >* {
        margin: 8px;
    }

    .goToDocs {
        display: flex;
        justify-content: space-around;
    
        >*:nth-child(1) {
            margin-right: 15px;
            margin-left: 5px;
        }
    }
    
    .buttons {
        margin-top: 25px !important;
    }
    
    .texts {
        > * {
            margin: 2px !important;
        }

        p {
            font-weight: 100; 
            font-size: 20px;
        }

        h2 {
            font-weight: 800; 
            font-size: 50px;
        }
    }
}